.menu{
    position: absolute;
width: 1440px;
height: 35px;
left: 0px;
top: 1px;

background: #E359DE;
}
.menu-texto{

position: absolute;
width: 252px;
height: 41px;
left: 1127px;
top: 0px; .corpo{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    left: 320px;
    width: 1000px;
}
.corpo-itens{
    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 280px;
}


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;
}
.cabec{ .corpo{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    left: 320px;
    width: 1000px;
}
.corpo-itens{
    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 280px;
}


position: absolute;
width: 1440px;
height: 175px;
left: 0px;
top: 37px;

background: #E359DE;
}
.cabec-texto{

position: absolute;
width: 696px;
height: 41px;
left: 415px;
top: 95px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
text-align: center;

color: #000000;

}
body{
    
position: absolute;
width: 1440px;
height: 739px;
left: 0px;
top: 212px;

background: linear-gradient(180deg, #E359DE 0%, rgba(227, 89, 222, 0) 100%);
}
.corpo{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    left: 320px;
    width: 1000px;
}
.corpo-itens{
    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 280px;
}

